<h3 {{#v.autoDownloadEnabled}}style='background-color:lime;'{{/v.autoDownloadEnabled}}>{{v.name}}
    ({{v.lastAppCount}})</h3>
{{v.description}}<br>
{{v.v1Url}} {{v.lastUsedDownloadDateTimeUtcDate}}<br>