<h3 {{#v.autoDownloadEnabled}}style='background-color:lime;'{{/v.autoDownloadEnabled}}>{{v.name}}
    ({{v.lastAppCount}})</h3>
{{v.shortDescription}}<br/>
{{v.lastUsedDownloadDateTimeUtcDate}} {{v.v1Url}}