<div {{#stateCode}} class='state_{{stateCode}}'{{/stateCode}}>
    <h3>{{name}} ({{lastAppCount}})</h3>
    {{shortDescription}}<br/>
    {{#lastErrorMessage}}{{lastErrorMessage}}<br/>{{/lastErrorMessage}}
    {{#downloadTaskId}}{{downloadTaskId}}{{/downloadTaskId}}
    {{lastUsedDownloadDateTimeUtcDate}} {{v1Url}}
</div>