{{shortDescription}}<br/>
{{#lastErrorMessage}}<div class='state_error'>{{lastErrorMessage}}</div>{{/lastErrorMessage}}
{{#downloadTaskId}}{{downloadTaskId}}{{/downloadTaskId}}
{{lastUsedDownloadDateTimeUtcDate}} {{v1Url}}
