<p>{{t.label_app_title}}</p>
{{#prev}}<a href="?page={{.}}"> &lt; </a>{{/prev}}
{{#next}}<a href="?page={{.}}"> &gt; </a>{{/next}}
<hr/><br/>

{{#app}}
    <a href="app/{{app.id}}">
    <h3>
        {{#app.icon}}<img src="app/icons/{{app.packageName}}.png" width="48" height="48">{{/app.icon}}
        {{name}}
    </h3>
    {{> App/list_app_summary}}
    </a>
{{/app}}

<br/>
{{#prev}}<a href="?page={{.}}"> &lt; </a>{{/prev}}
{{#next}}<a href="?page={{.}}"> &gt; </a>{{/next}}
