<p>{{t.label_app_title}}</p>
<a href="/App/app{{back}}">Back</a>
{{#item}}
    <h3>
        {{#app.icon}}
            <img src="icons/{{app.packageName}}.png" width="48" height="48" />
        {{/app.icon}}
        {{app.localizedName}}
    </h3>
    {{> App/list_app_summary}}
    {{#LocalizedList}}
        {{> App/localized_detail}}
    {{/LocalizedList}}
    {{#VersionList}}
        {{> App/version_detail}}
    {{/VersionList}}
{{/item}}
<a href="/App/app{{back}}">Back</a>
