<p>{{t.label_app_title}}</p>
{{#app}}
    <h3>
        {{#app.icon}}<img src="icons/{{app.packageName}}.png" width="48" height="48">{{/app.icon}}
        {{name}}
    </h3>
    {{> App/list_app_summary}}
    {{#whatsNew}}{{t.label_app_whats_new}}<pre>{{{.}}}</pre></br>{{/whatsNew}}
    <pre>{{{description}}}</pre></br>
    {{#LocalizedList}}
        {{> App/localized_detail}}
    {{/LocalizedList}}
    {{#VersionList}}
        {{> App/version_detail}}
    {{/VersionList}}
{{/app}}
    <a href="/App/app">Back</a>
