<h1>{{t.label_app_title}}</h1>

<form action="/App/app" method="get">
    <table border="1">
        <tr>
            <td>
                <label for="q">Search text:</label>
            </td>
            <td>
                <input type="text" name="q" value="{{query}}" />
            </td>
        </tr>
        <tr>
            <td>
                <label for="v">Android Version:</label>
            </td>
            <td>
                <select name="v">
                    {{#androidVersion}}
                        <option value="{{key}}" >{{value}}</option>
                    {{/androidVersion}}
                    {{#minSdkName}}
                        <option value="{{minSdk}}" selected="selected">{{minSdkName}}</option>
                    {{/minSdkName}}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="v">Category:</label>
            </td>
            <td>
                <select name="c">
                    {{#categories}}
                        <option value="{{id}}" >{{name}}</option>
                    {{/categories}}
                    {{#category.name}}
                        <option value="{{category.id}}" selected="selected">{{category.name}}</option>
                    {{/category.name}}
                </select>
            </td>
        </tr>
    </table>

    <div>
       <input type="submit" value="{{t.label_search}}" >
    </div>
</form>

{{#prev}}<a href="?page={{prev}}{{params}}"> &lt; </a>{{/prev}}
{{#next}}<a href="?page={{next}}{{params}}"> &gt; </a>{{/next}}
<hr/><br/>

{{#app}}
    <a href="app/{{app.id}}">
    <h3>
        {{#app.icon}}<img src="app/icons/{{app.packageName}}.png" width="48" height="48">{{/app.icon}}
        {{name}}
    </h3>
    {{> App/list_app_summary}}
    </a>
{{/app}}

<br/>
{{#prev}}<a href="?page={{prev}}{{params}}"> &lt; </a>{{/prev}}
{{#next}}<a href="?page={{next}}{{params}}"> &gt; </a>{{/next}}
