<p>{{t.label_app_title}}</p>
<a href="/App/app{{back}}">Back</a>
{{#item}}
    <h3>
        {{#app.icon}}
            <img src="icon/{{app.packageName}}.png" width="48" height="48"/>
        {{/app.icon}}
        {{app.localizedName}}

    </h3>
        {{#app.localizedSummary}}{{.}}</br>{{/app.localizedSummary}}

    {{#app.localizedWhatsNew}}
        <h4>{{t.label_app_whats_new}}</h4>
        <pre>{{{.}}}</pre></br>
    {{/app.localizedWhatsNew}}
    {{#app.localizedDescription}}
        <h4>{{t.label_app_description}}</h4>
        <pre>{{{.}}}</pre></br>
    {{/app.localizedDescription}}

    {{#phoneScreenshotUrls}}
        <img src="{{.}}"/></br>
    {{/phoneScreenshotUrls}}

    {{! #LocalizedList}}
    {{! > App/localized_detail}}
    {{! /LocalizedList}}

    {{#VersionList}}
        {{> App/version_detail}}
    {{/VersionList}}
{{/item}}
<a href="/App/app{{back}}">Back</a>
