{{t.label_version_title}} {{versionName}} ({{versionCode}}, {{addedDate}})
<a href='{{#getUrl}}{{apkName}}{{/getUrl}}'>{{apkName}}</a> ({{sizeMB}})<br/>
{{sdkInfo}}<br/>
<img src="/Repo/repo/icons/repo_{{app.resourceRepoId}}.png" width="48" height="48">
<hr/>