{{! itemtype= AppWithDetailsPagerService.ItemAtOffset; icon display is seperate}}
<h3>
    {{#app.icon}}<img src="app/icons/{{app.packageName}}.png">{{/app.icon}}
    {{name}}
</h3>
{{t.label_version_title}}: {{app.lastUpdatedDate}} {{app.version}} {{app.sdk}}<br/><br/>
{{summary}}<br/>
