{{! itemtype= AppWithDetailsPagerService.ItemAtOffset; icon display is seperate}}
<h3><img
        src="https://raw.githubusercontent.com/k3b/F-Droid-Universal-Catalog/master/app/src/main/res/drawable/ic_launcher.png"> {{name}}
</h3>
{{t.label_version_title}}: {{app.lastUpdatedDate}} {{app.version}} {{app.sdk}}<br/><br/>
{{summary}}<br/>
