<p>{{t.label_repo_title}}</p>
{{#repo}}
    <a href="repo/{{id}}" class="state_{{stateCode}}">
        <h3>
            {{#icon}}<img src="repo/icons/repo_{{id}}.png" width="48" height="48">{{/icon}}
            {{name}} ({{lastAppCount}})
        </h3>
        {{> Repo/list_repo}}
    </a>
    <hr/>
{{/repo}}
